{{define "specific"}}{{$mns := .Masternodes.Masternodes}}
<h4>{{len $mns}} Masternodes</h4>
<div class="data-div">
    <table class="table table-striped data-table table-hover">
        <thead>
            <tr>
		<th class="text-left" style="width: 4%;">#</th>
                <th class="text-left" style="width: 5%;">Network</th>
                <th class="text-left" style="width: 15%;">ip</th>
                <th class="text-left" style="width: 25%;" >Address</th>
                <th class="text-left" style="width: 7%">Status</th>
                <th class="text-left" style="width: 8%;">Last Block</th>
                <th class="text-left" style="width: 18%;">Last Seen</th>
                <th class="text-left" style="width: 18%;">Last Paid</th>
            </tr>
        </thead>
        <tbody>
            {{- range $mn := $mns -}}
            <tr>
                <th class="text-left">{{$mn.Rank}}</th>
                <td class="text-left">{{$mn.Network}}</td>
                <td class="ellipsis">{{$mn.Ip}}</td>
                <td><a href="/address/{{$mn.Addr}}">{{$mn.Addr}}</a></td>
                <td class="text-left">{{$mn.Status}}</td>
                <td class="text-left">{{$mn.Lastblock}} </td>
                <td class="text-left">
                        {{- if $mn.Lastseen -}}
                  	   {{formatUnixTime $mn.Lastseen}}
                        {{else}}
                            0
                        {{- end -}}
                </td>
                <td class="text-left">
			{{- if $mn.Lastpaid -}}
                           {{formatUnixTime $mn.Lastpaid}}
                        {{else}}
                            0
                        {{- end -}}
                </td>          
            </tr>
            {{- end -}}
        </tbody>
    </table>
</div>
{{end}}
